a {
  color: #CD874B;
}

a:hover {
  color: #E99C5A;
}

html {
  scroll-behavior: smooth;
}


.carousel .control-prev.control-arrow:before {
  border-right: 8px solid red;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #E3BC9B;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}


.carousel.carousel-slider .control-arrow:hover {
  background: #e3bd9b25;
}

.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background: #D2925D;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}